<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeodeticCoordinateConversion.GEOSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GeodeticCoordinateConversion.NodeNames" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GeodeticCoordinateConversion.GEOSettings>
            <setting name="GEOZoneType3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorkFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>GeoConvertDB.mdb</value>
            </setting>
            <setting name="DataFileName" serializeAs="String">
                <value>GeoConversion.xml</value>
            </setting>
        </GeodeticCoordinateConversion.GEOSettings>
        <GeodeticCoordinateConversion.NodeNames>
            <setting name="GaussNode" serializeAs="String">
                <value>Geo</value>
            </setting>
        </GeodeticCoordinateConversion.NodeNames>
    </userSettings>
</configuration>