################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GeodeticCoordinateConversion/bin
/GeodeticCoordinateConversion/obj
